{% autoescape true %}
                <!-- Main Wrapper -->
                        <div id="main-wrapper">

                                <!-- Main -->
                                        <div id="main" class="container">
                                                <div class="row">
                                                
                                                        <!-- Content -->
                                                                <div id="content" class="12u skel-cell-mainContent">

                                                                        <!-- Post -->
                                                                                {% for movie in movies %}
                                                                                        {% if movie.movietitle != None %}
                                                                                                <article class="is-excerpt">
                                                                                                        <h3><a class="movieLink" id="{{movie.movietitle}}" href="movie?movietitle={{movie.movietitle}}">{{ movie.movietitle}}</a></h3>
                                                                                                </article>
                                                                                        {% endif %}
                                                                                {% endfor %}
                                                                
                                                                </div>
                                                                
                                                </div>
                                        </div>

                        </div>
{% endautoescape %}